<% if !current_user %>
  
  <!--Not logged in -->
  <h4 class="title has-text-black <%= "not-logged-in" if !@user %>" style="font-size: 150%">
     <br>Filter out the chatter.<br>See only articles from your timeline.<br><br>
  </h4>
  
  <!-- Login button -->
  <div class="flex-grid">
     <div class="col-sm"></div>
     <div class="col-md">
       <a id="login-button" href='/auth/twitter?use_authorize=true'><img width="300px" src="/images/sign-in-with-twitter.png"></a>
       <br>
       <br>
       <br>
       <br>
     </div>
     <div class="col-sm"></div>
  </div>
  
  

  
  
  
  
  
<% else %>

  <!-- Logged in-->
  <div class="col-lg right">
     <h6 class="update-schedule">
       <!-- <%= @minutes_until_next_update == 0 ? "Updating links now" :  "Next update in #{@minutes_until_next_update} minutes"   %>  | -->
       <!-- Updates every 10 minutes -->
       <a href="/profile">Profile</a> |
       <a href="/logout">Sign out</a> 
     </h6>
  </div>
  
  <!-- First download -->
  <% if @first_download %>
    <div class="card card-with-no-border">
       <div class="card-content">
          <div class="content">
             <div class="tweetbox">
                <section class="container basic-photo">
                  <p><br>Setting up your account. <br>This may take a minute the first time.<br><br></p>
                </section>
             </div>
          </div>
       </div>
    </div>  
  <% end %>
  
  <!-- Render Tweets -->
  <% @tweets.each do |t| %>
    <div class="card card-with-border article">
       <div class="card-content" style="padding-bottom: 0.5rem">
          <div class="media">
               <div class="fav media-left px-4 is-inline-flex" >
                  <figure class="image is-48x48">
                    <% if t.tweet['favicon'].to_s.length > 0 %>
                      <img class="article-image" src="<%= preferred_fav_icon(t.tweet['favicon'].to_s) %>" data-backup="<%= t.tweet.to_h['images'].first.to_h['src'].to_s %>" />                     
                    <% end %>
                  </figure>
               </div>
             
             <div class="media-content px-2 " style="overflow: hidden;">
                <a href="<%= t.tweet['url'] %>">
                  
                   <% if t.tweet['title'].to_s.length > 0 %>
                     <h4 class="title is-4 is-size-5-mobile	has-text-black has-text-left"><%= t.tweet['title'] %></h3>
                   <% else %>
                     <h4 class="title is-4 is-size-5-mobile	has-text-black has-text-left"><%= t.tweet['description'].to_s[0..20] %>...</h3>
                   <% end %>
                   
                   <p class="content has-text-black has-text-left tweet-content">
                      <%= t.tweet['description'] %>
                      <br>
                   </p>
                </a>
                                
                <div class="column is-6 px-0" style="padding-bottom: 0">
                  <div class="heading has-text-black is-5 px-0">
                     <div class="columns">
                        <div class="column has-text-left has-text-black is-12">
                          Shared By: <a href="https://twitter.com/<%= t.meta['screen_name'] %>"><%= t.meta["name"] %></a></div>
                        <div class="column has-text-right has-text-black is-12">
                          <a target="_new" href="https://twitter.com/<%= t.meta['screen_name'] %>/status/<%= t.tweet_id %>">
                            <span class=""><i class="fas fa-heart"></i>&nbsp;<%= t.meta["retweet_count"] %>&nbsp;</span>
                            <span class=""><i class="fas fa-heart"></i>&nbsp;<%= t.meta["favorite_count"] %>&nbsp;</span>
                            <span class=""><%= format_datetime t.tweet_date, @user_timezone %>&nbsp;</span>
                          </a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  <% end %>
  
  <!--Pagination -->
  <% if @user.data['premium'] == true || !@first_download %>
    <div class="card <%= @first_download ? 'card-with-no-border' : 'card-with-border' %>">
       <div class="card-content" >
          <div class="content">
             <% if @user.data['premium'] == true %>
               <%= pagy_bulma_nav(@pagy) if @pagy.pages > 1 %>
             <% elsif !@first_download  %>
               <div class="tweetbox">
                  <section class="container basic-photo">
                    <p>You are viewing <%= @tweets.count %> out of 25 links.<br>Free accounts only display 25 links.</p>
                    <button id="activate-premium-plan-btn">Activate Subcription</button>
                    <br/>
                    <div><br>Subscribe to remove limits<br><a style="" href="/profile">Learn more</a><br></div>
                  </section>
               </div>
             <% end %>
          </div>
       </div>
    </div>
  <% end %>
  
<% end %>