<% if !current_user %>
  <!--Not logged in -->
  <h3 class="title has-text-black <%= "not-logged-in" if !@user %>">
     Filter out the chatter.<br>View links from your timeline.
  </h3>
  <!-- Login button -->
  <div class="flex-grid">
     <div class="col-sm"></div>
     <div class="col-md">
        <div> <a href='/auth/twitter?use_authorize=true'><img width="300px" src="/images/sign-in-with-twitter.png"></a> </div>
     </div>
     <div class="col-sm"></div>
  </div>
<% else %>
  <!-- Logged in-->
  <div class="col-lg right">
     <h6 class="update-schedule">
        <% if @next_update_in_minutes == 0 %>
          Refreshing links now.
        <% else %>
          Next update in <%= @next_update_in_minutes %> minutes
        <% end %>
        | <a href="/logout">Sign out</a> |
        <a href="/profile">Profile</a>
     </h6>
  </div>
  <% if @first_download %>
  
    <div class="card card-with-border">
       <div class="card-content">
          <div class="content">
             <div class="tweetbox">
                <section class="container basic-photo">
                  <p><br>Setting up your account. <br>This may take a minute the first time.<br><br></p>
                </section>
             </div>
          </div>
       </div>
    </div>  
  <% end %>
  
  <!-- Render Tweets -->
  <% @tweets.each do |t| %>
    <div class="card card-with-border article">
       <div class="card-content">
          <div class="media">
             <% if t.tweet['favicon'].to_s.length > 0 %>
               <div class="fav media-left px-4 is-inline-flex">
                  <figure class="image is-48x48">
                     <img src="<%= t.tweet['favicon'].to_s %>" />
                  </figure>
               </div>
             <% end %>
             
             <div class="media-content px-2 ">
                <a href="<%= t.tweet['url'] %>">
                   <% if t.tweet['title'].to_s.length > 0 %>
                     <h4 class="title is-4 is-size-5-mobile	has-text-black has-text-left"><%= t.tweet['title'] %></h3>
                   <% else %>
                     <h4 class="title is-4 is-size-5-mobile	has-text-black has-text-left"><%= t.tweet['description'].to_s[0..20] %>...</h3>
                   <% end %>
                   
                   <div class="content has-text-black has-text-left">
                      <%= t.tweet['description'] %>
                      <br>                  
                   </div>
                </a>
                
                <div class="column is-6 px-0">
                  <div class="heading has-text-black is-5 px-0">
                     <div class="columns">
                       <!-- <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> -->                      
                        <div class="column has-text-left has-text-black is-6">By: <a href="https://twitter.com/<%= t.meta['screen_name'] %>"><%= t.meta["name"] %></a></div>
                        <div class="column has-text-left has-text-black is-10">
                          <span class=""><%= t.tweet_date.strftime('%b %-d, %Y') %></span>
                          <span class=""><img class="retweet-icon" src="/images/retweet-solid.svg"><%= t.meta["retweet_count"] %></span>
                          <span class=""><img class="favorite-icon" src="/images/heart-solid.svg"><%= t.meta["favorite_count"] %></span>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  <% end %>
  
  <!--Pagination -->
  <div class="card card-with-border">
     <div class="card-content">
        <div class="content">
           <% if @user.data['premium'] == true %>
             <%= pagy_bulma_nav(@pagy) if @pagy.pages > 1 %>
           <% elsif !@first_download  %>
             <div class="tweetbox">
                <section class="container basic-photo">
                   <div>
                      <p>Free accounts only display 25 links. <br>Subscribe to view all articles.</p>
                      <button id="activate-premium-plan-btn">Activate Premium</button>
                      <br/>
                      <br/>
                      <p><a style="" href="/profile">Learn more</a></p>
                   </div>
                </section>
             </div>
           <% end %>
        </div>
     </div>
  </div>
  
  
  
<% end %>