<!DOCTYPE html>
<html>
  <%= erb(:meta) %>
  <body>
    <% if @show_loading_bar == true %>
      <div class="loading-container">
        <div class="loading"></div>
      </div>
    <% end %>
    <section class="is-success is-fullheight section">
      <div class="hero-body">
        <div class="container has-text-centered column is-6 is-offset-3 px-0">
          <div class="wrapper">
            <%= erb(:logo) %>
            <%= erb(:navigation) %>
            <%= erb(:alert) %>
            <%= yield %>
            
            <!-- padding bottom -->
            <div class="card-with-no-border">
              <div class="card-content" >
                <div class="content">
                </div>
              </div>
            </div>
            
          </div>      
          <%= erb(:footer) %>
        </div>
      </div>
    </section>
  </body>
</html>