<!-- List Tweets -->
<% if @tweets %>
  <% @tweets.each do |t| %>
    <div class="card card-with-border article">
       <div class="card-content" style="padding-bottom: 0.5rem">
          <div class="media">
             <div class="fav media-left px-4 is-inline-flex" >
                <figure class="image is-64x64">
                  <% if t.tweet['favicon'].to_s.length > 0 %>
                    <img class="article-image is-rounded" style="padding: 10px;" src="<%= preferred_fav_icon(t.tweet['favicon'].to_s) %>" data-backup="<%= t.meta['profile_photo'] %>" />
                  <% end %>                  
                </figure>
             </div>
           
             <div class="media-content px-2 " style="overflow: hidden;">               
               <a target="_new" href="<%= t.tweet['url'] %>" class="history-action" data-tweet-id="<%= t.tweet_id %>">
                   <% # If title is set then we display it no questions asked %>
                   <% if t.tweet['title'].to_s.length > 0 %>
                     <h4 class="title is-5 is-size-6-mobile	has-text-black has-text-left"><%= t.tweet['title'] %></h4>
                   <% else %>
                    <% # Otherwise, we try and generate a title or image %>
                    <% if t.tweet['url'] && File.extname(t.tweet['url']) == ".pdf" %>
                      <h4 class="title is-5 is-size-6-mobile	has-text-black has-text-left"><%= File.basename(t.tweet['url']) %></h4>
                    <% else %>
                      <h4 class="title is-5 is-size-6-mobile	has-text-black has-text-left"><%= t.tweet['description'].to_s[0..20] %>...</h4>
                    <% end %>
                   <% end %>
                 
                   <p class="content has-text-black has-text-left tweet-content">
                     <% if t.tweet['url'] && File.extname(t.tweet['url']) == ".pdf" %>
                       <span style="margin: 0 auto">
                         <i style="font-size: 50pt" class="fas fa-file-pdf"></i>
                       </span>
                     <% else %>
                       <%= t.tweet['description'] %>
                     <% end %>
                     <br>
                   </p>
                </a>
                              
                <div class="column is-6 px-0" style="padding-bottom: 0">
                  <div class="heading has-text-black is-5 px-0">
                     <div class="columns">
                        <div class="column has-text-left has-text-black is-12">
                          Shared By: <a href="https://twitter.com/<%= t.meta['screen_name'] %>"><%= t.meta["name"] %></a>
                        </div>
                        <div class="column has-text-right has-text-black is-11 mobile-align-left">
                            <span class=""><%= format_datetime(t.tweet_date, @user_timezone) %>&nbsp;</span>                          
                            <a class="bookmark-action" data-tweet-id="<%= t.tweet_id %>"><i class="fas fa-bookmark" style="color: <%= t.meta["bookmarked"] == true ? "red" : "" %>"></i></a>
                            &nbsp;
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  <% end %>
<% end %>