<!-- List Tweets -->
<% if @tweets %>
  <% @tweets.each do |t| %>
    <div class="card card-with-border article">
       <div class="card-content" style="padding-bottom: 0.5rem">
          <div class="media">
             <div class="fav media-left px-4 is-inline-flex" >
                <figure class="image is-48x48">
                  <% if t.tweet['favicon'].to_s.length > 0 %>
                    <a href="/@<%= t.meta['screen_name'] %>">
                      <img class="article-image" src="<%= preferred_fav_icon(t.tweet['favicon'].to_s) %>" data-backup="<%= t.tweet.to_h['images'].first.to_h['src'].to_s %>" />                     
                    </a>
                  <% end %>                  
                </figure>
             </div>
           
             <div class="media-content px-2 " style="overflow: hidden;padding-right: 50px;margin-right: 20px;">
               <a href="/@<%= t.meta['screen_name'] %>">
                 <i style="position: absolute; right: 30px; top: 30px" class="fas fa-ellipsis-v"></i>
               </a>
               
               <a target="_new" href="<%= t.tweet['url'] %>">
                   <% if t.tweet['title'].to_s.length > 0 %>
                     <h4 class="title is-5 is-size-6-mobile	has-text-black has-text-left"><%= t.tweet['title'] %></h4>
                   <% else %>
                     <% if t.tweet['url'] && File.extname(t.tweet['url']) == ".pdf" %>
                       <h4 class="title is-5 is-size-6-mobile	has-text-black has-text-left"><%= File.basename(t.tweet['url']) %></h4>
                     <% else %>
                       <h4 class="title is-5 is-size-6-mobile	has-text-black has-text-left"><%= t.tweet['description'].to_s[0..20] %>...</h4>
                     <% end %>
                   <% end %>
                 
                   <p class="content has-text-black has-text-left tweet-content">
                     <% if t.tweet['url'] && File.extname(t.tweet['url']) == ".pdf" %>
                       <span style="margin: 0 auto">
                         <i style="font-size: 50pt" class="fas fa-file-pdf"></i>
                       </span>
                     <% else %>
                       <%= t.tweet['description'] %>
                     <% end %>
                     <br>
                   </p>
                </a>
                              
                <div class="column is-6 px-0" style="padding-bottom: 0">
                  <div class="heading has-text-black is-5 px-0">
                     <div class="columns">
                        <div class="column has-text-left has-text-black is-12">
                          Shared By: <a href="https://twitter.com/<%= t.meta['screen_name'] %>"><%= t.meta["name"] %></a>
                        </div>
                        <div class="column has-text-right has-text-black is-11 mobile-align-left">
                          <a target="_new" href="https://twitter.com/<%= t.meta['screen_name'] %>/status/<%= t.tweet_id %>">
                            <span class=""><i class="fas fa-retweet"></i>&nbsp;<%= t.meta["retweet_count"] %>&nbsp;</span>
                            <span class=""><i class="fas fa-heart"></i>&nbsp;<%= t.meta["favorite_count"] %>&nbsp;</span>
                            <span class=""><%= format_datetime(t.tweet_date, @user_timezone) %>&nbsp;</span>
                          </a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  <% end %>
<% end %>